@media(max-width: 1199px){
  
    
    
}
@media(max-width:991px){
   .banner .row {
    min-height: 567px;
    align-items: center;
}
.banner h1 {
    font-size: 100px;
    font-weight: 500;
    color: #ffffff;
    transform: translateX(0px);
    animation-name: Mover;
    animation-duration: 3s;
    animation-direction: alternate;
}
.simplesec h1 {
    font-size: 17px;
    color: #2d3950;
    font-weight: 600;
    padding: 25px 0px;
}
.gallery h1 {
    color: #2d3950;
    font-size: 31px;
    font-weight: 600;
}


.frsec h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}









}
@media(max-width:767px){
 .banner h1 {
    font-size: 55px;
    font-weight: 500;
    color: #ffffff;
    transform: translateX(0px);
    animation-name: Mover;
    animation-duration: 3s;
    animation-direction: alternate;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #632f2f00;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
    .banner p {
    font-size: 15px;}
.banner .row {
    min-height: 484px;
    align-items: center;
}.mybtn {
    background: #fff0;
    border-color: #15a4fa;
    padding: 5px 12px;
    color: #ffffff;
    font-size: 15px;
    margin-top: 17px;
}
.mybtn:hover {
    background: #15a4fa;
    border-color: #15a4fa;
    padding: 5px 12px;
    color: #fff;
}
.simple h1 {
    font-size: 30px;}

.simple p {
    color: #999999;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 500;
}

.simplesec h1 {
    font-size: 17px;
    color: #2d3950;
    font-weight: 600;
  padding: 11px 0px;
}
.gallery h1 {
    color: #2d3950;
    font-size: 25px;
    font-weight: 600;
}
.frsec h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.simplesec p {
    font-size: 13px;
    color: #999999;
}







}
@media(max-width:575px ){
  .banner h1 {
    font-size: 45px;
    font-weight: 500;
    color: #ffffff;
    transform: translateX(0px);
    animation-name: Mover;
    animation-duration: 3s;
    animation-direction: alternate;
}
  .simplesec p {
    font-size: 13px;
    color: #999999;
}
    .banner p {
    font-size: 15px;}
    .banner .row {
    min-height: 484px;
    align-items: center;
}  
.mybtn {
    background: #fff0;
    border-color: #15a4fa;
    padding: 5px 12px;
    color: #ffffff;
    font-size: 15px;
    margin-top: 17px;
}
.mybtn:hover {
    background: #15a4fa;
    border-color: #15a4fa;
    padding: 5px 12px;
    color: #fff;
}
.simple h1 {
    font-size: 25px;}

.simple p {
    color: #999999;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 500;
}

.simplesec h1 {
    font-size: 17px;
    color: #2d3950;
    font-weight: 600;
   padding: 11px 0px;
}
.gallery h1 {
    color: #2d3950;
    font-size: 20px;
    font-weight: 600;
}


.frsec h1 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #632f2f00;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}








}
